.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #e1e2e4;
}
.header .logo {
  font-family: "Roboto";
  font-weight: bold;
  color: #00204a;
  font-size: 20px;
  text-transform: uppercase;
}
.header .busqueda .fas {
  color: #4A77D1;
}
.header .busqueda .buscar {
  width: 320px;
  border: none;
  padding: 6px;
  background: #e1e2e4;
  border-bottom: 0.5px solid #7D7D7D;
  color: #4A77D1;
}
.header .actions .boton {
  background: #3586e6;
  color: white;
  padding: 10px 15px;
  font-family: "Roboto";
  font-size: 14px;
  border: none;
  border-radius: 23px;
}
.header .actions .boton.register {
  background: #3acace;
}

.categorias {
  width: 831px;
  margin: auto;
}
.categorias .titulo {
  font-family: "Lato";
  text-align: center;
  font-size: 22px;
  margin-bottom: 80px;
}
.categorias .grupo-botones {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.categorias .grupo-botones .boton {
  background: #3586e6;
  width: 150px;
  color: white;
  padding: 10px 15px;
  font-family: "Roboto";
  font-size: 14px;
  border: none;
  border-radius: 23px;
  margin: 5px;
}
.categorias .grupo-botones .boton.primary {
  background: #3586e6;
}
.categorias .grupo-botones .boton.secondary {
  background: #3acace;
}
.categorias .grupo-botones .boton.yellow {
  background: #fda403;
}
.categorias .grupo-botones .boton.orange {
  background: #ff570c;
}
.categorias .grupo-botones .boton.ligth_green {
  background: #3dd196;
}
.categorias .grupo-botones .boton.green {
  background: #78A125;
}
.categorias .grupo-botones .boton.gris {
  background: #4c5a8b;
}

.best-sellers {
  width: 831px;
  margin: auto;
}
.best-sellers .boton {
  display: none;
}
.best-sellers .titulo {
  font-family: "Lato";
  text-align: center;
  font-size: 22px;
  margin: 30px 0;
}
.best-sellers .tarjetas {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.best-sellers .tarjetas .tarjeta .title {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  padding: 7px;
  color: #000;
  text-transform: uppercase;
}
.best-sellers .tarjetas .tarjeta .by {
  font-family: "Lato";
  text-align: center;
  font-style: italic;
  color: #343a46;
  font-size: 14px;
  font-weight: normal;
}
.best-sellers .tarjetas .tarjeta img {
  width: 100%;
  height: 231px;
}
.best-sellers .tarjetas .tarjeta .stars {
  margin: 20px;
  text-align: center;
  color: #FFDD00;
}

.footer {
  margin-top: 40px;
  padding: 25px;
  background: #00204a;
  display: flex;
  justify-content: space-around;
}
.footer .title {
  margin-top: 60px;
  margin-left: 100px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 30px;
  justify-items: center;
}
.footer .actions {
  display: none;
}

p {
  margin-top: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #3acace;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 2;
}

.slide {
  display: flex;
  align-items: center;
  position: relative;
}

.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  border: none;
  background: none;
  font-size: 40px;
  height: 50%;
  top: calc(50%-25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.flecha-izquierda {
  left: 0;
}
.flecha-izquierda:hover {
  color: #707070;
}

.flecha-derecha {
  right: 0;
}
.flecha-derecha:hover {
  color: #707070;
}

.slider {
  margin: 20px 0;
  width: 100%;
  height: 380px;
  overflow: auto;
}
.slider .tarjetas {
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
}
.slider .tarjetas .tarjeta {
  margin: 0 2px;
  flex: 0 0 25em;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  width: 490px;
  height: 350px;
  padding: 35px 15px;
}
.slider .tarjetas .tarjeta:hover {
  cursor: pointer;
}
.slider .tarjetas .tarjeta img {
  width: 215px;
  height: 226px;
}
.slider .tarjetas .tarjeta .info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slider .tarjetas .tarjeta .info .title {
  font-size: 24px;
  font-family: "Roboto";
  color: #fff;
  font-weight: bold;
}
.slider .tarjetas .tarjeta .info .desc {
  font-size: 14px;
  font-family: "Roboto";
  color: #fff;
  line-height: 2;
}
.slider .tarjetas .tarjeta .info .boton {
  border: none;
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 25px;
}
.slider .tarjetas .tarjeta .info .boton:hover {
  cursor: pointer;
}

.libro {
  display: flex;
  padding: 30px;
  background: #ccc;
  margin: 20px 0;
  background-position: center;
  /* Center the image */
}
.libro img {
  width: 235px;
  height: 360px;
}
.libro .info {
  margin-left: 20px;
}
.libro .info .by {
  margin-left: 20px;
}
.libro .info .titulo {
  font-family: "Lato";
  font-size: 42px;
  color: white;
}
.libro .info .desc {
  font-family: "Open Sans";
  font-size: 14px;
  color: white;
  line-height: 2;
  padding: 15px;
}
.libro .info .acciones {
  display: flex;
  justify-content: space-between;
}
.libro .info .acciones .precio {
  color: #596988;
  padding: 0 20px;
}

.boton {
  background: #3586e6;
  color: white;
  padding: 10px 45px;
  font-family: "Roboto";
  font-size: 14px;
  border: none;
  border-radius: 23px;
}
.boton:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
* a {
  text-align: center;
}

.container {
  width: 1000px;
  margin: auto;
  background: white;
}

.boton {
  background: #3586e6;
  width: 150px;
  color: white;
  padding: 10px 15px;
  font-family: "Roboto";
  font-size: 14px;
  border: none;
  border-radius: 23px;
  margin: 5px;
}
.boton:hover {
  cursor: pointer;
}
.boton.primary {
  background: #3586e6;
}
.boton.secondary {
  background: #3acace;
}
.boton.yellow {
  background: #fda403;
}
.boton.orange {
  background: #ff570c;
}
.boton.ligth_green {
  background: #3dd196;
}
.boton.green {
  background: #78A125;
}
.boton.gris {
  background: #4c5a8b;
}

/*# sourceMappingURL=main.css.map */
