@import "_media";

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-content: center;
    width: 100%;

    background: $fondo;
    @include media(sm) {
        background: $fondo_azul;
        width: 100%;
    }
    .logo {
        font-family: "Roboto";
        font-weight: bold;
        color: #00204a;
        font-size: 20px;
        text-transform: uppercase;

        @include media(sm) {
            width: 100%;
            color: $text-color-white;
            display: flex;
            justify-content: space-between;
        }
        .iconos {
            display: none;
            i:first-child {
                margin: 0 30px;
            }
            @include media(sm) {
                display: flex;
            }
        }
    }
    .busqueda {
        @include media(sm) {
            display: none;
        }
        .fas {
            color: #4a77d1;
        }
        .buscar {
            width: 320px;
            border: none;
            padding: 6px;
            background: $fondo;
            border-bottom: 0.5px solid #7d7d7d;
            color: #4a77d1;
        }
    }
    .actions {
        @include media(sm) {
            display: none;
        }
        .boton {
            background: $primary;
            color: white;
            padding: 10px 15px;
            font-family: "Roboto";
            font-size: 14px;
            border: none;
            border-radius: 23px;
            &.register {
                background: $secondary;
            }
        }
    }
}
