@media screen and (max-width: 568px) {
    * {
        padding: 0;
        margin: 0;
    }
    .container {
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: $fondo_azul;
        .logo {
            font-family: "Roboto";
            font-weight: bold;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
        }
        .busqueda {
            .fas {
                color: #4a77d1;
            }
            .buscar {
                border: none;
                border-bottom: 0.5px solid #7d7d7d;
                color: #4a77d1;
            }
        }
        .actions {
            display: none;
        }
    }

    //?Categorias

    .categorias {
        width: 576px;

        margin: 0;
        
        .grupo-botones {
            grid-template-columns: repeat(3, 1fr);
            padding: 20px;
            .boton {
                margin: 13px 0;
            }
        }

        .titulo {
            font-family: "Lato";
            text-align: center;
            font-size: 22px;
            margin-bottom: 80px;
        }
    }

    .best-sellers {
        width: 576px;
        margin: 0;
        padding: 10px;

        .boton {
            margin: auto;
            display: block;
            text-align: center;
        }
        .titulo {
            font-family: "Lato";
            text-align: center;
            font-size: 22px;
            margin: 30px 0;
        }
        .tarjetas {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .footer {
        position: absolute;
        width: 75%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        opacity: 0.85;
        z-index: 600;
        transition: 0.3s ease all;
        /* para sacarlo completaente de pantalla */
        transform: translate(-100%);
        .actions {
            display: block;
            .boton {
                width: 100%;
            }
        }
        .title {
            display: none;
        }
        &.active {
            transform: translate(-0%);
        }
    }
}
