@media screen and (max-width: 568px) {
    * {
        padding: 0;
        margin: 0;
    }
    .container {
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: $fondo_azul;
        .logo {
            font-family: "Roboto";
            font-weight: bold;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
        }
        .busqueda {
            display: none;
            .fas {
                color: #4a77d1;
            }
            .buscar {
                border: none;
                border-bottom: 0.5px solid #7d7d7d;
                color: #4a77d1;
            }
        }
        .actions {
            display: none;
        }
    }

    //?Categorias

    .categorias {
        width: 576px;

        margin: 0;

        .grupo-botones {
            grid-template-columns: repeat(3, 1fr);
            padding: 20px;
            .boton {
                margin: 13px 0;
            }
        }

        .titulo {
            font-family: "Lato";
            text-align: center;
            font-size: 22px;
            margin-bottom: 80px;
        }
    }

    .best-sellers {
        width: 576px;
        margin: 0;
        padding: 10px;

        .boton {
            margin: auto;
            display: block;
            text-align: center;
        }
        .titulo {
            font-family: "Lato";
            text-align: center;
            font-size: 22px;
            margin: 30px 0;
        }
        .tarjetas {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .footer {
        position: absolute;
        width: 75%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        opacity: 0.85;
        z-index: 600;
        transition: 0.3s ease all;
        /* para sacarlo completaente de pantalla */
        transform: translate(-100%);
        .actions {
            display: block;
            .boton {
                width: 100%;
            }
        }
        .title {
            display: none;
        }
        &.active {
            transform: translate(-0%);
        }
    }
    .libro {
        display: flex;
        flex-direction: column;
        padding: 30px;

        margin: 20px 0;
        width: 568px;
        background: none;

        img {
            margin: auto;
            width: 235px;
            height: 360px;
        }
        .info {
            display: flex;
            flex-direction: column;
            padding: 20px;
            .by {
            }
            .titulo {
                text-align: center;
                margin-top: 30px;
                font-family: "Lato";
                font-size: 30px;
                color: #00204a;
            }
            .desc {
                font-family: "Open Sans";
                font-size: 14px;
                color: #0a0a07;
                line-height: 2;
                padding: 15px;
            }
            .acciones {
                display: flex;
                flex-direction: column;
                margin: auto 20px;
                .precio {
                    margin: auto;
                    color: #596988;
                    padding: 0 20px;
                }
                .botones {
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }

    .boton {
        background: $primary;
        color: white;
        padding: 10px 45px;
        font-family: "Roboto";
        font-size: 14px;
        border: none;
        border-radius: 23px;
    }
}

@media screen and (max-width: 370px) {
    .categorias {
        width: 360px;

        .grupo-botones {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .best-sellers {
        width: 370px;
        margin: 0;
        padding: 10px;

        .boton {
            margin: auto;
            display: block;
            text-align: center;
        }
        .titulo {
            font-family: "Lato";
            text-align: center;
            font-size: 22px;
            margin: 30px 0;
        }
        .tarjetas {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
