.libro {
    display: flex;
    padding: 30px;
    // background: white;
    margin: 20px 0;

    background-position: center; /* Center the image */
    @include media(sm) {
        flex-direction: column;
        padding: 0;
    }

    img {
        width: 235px;
        height: 360px;
        @include media(sm) {
            margin: auto;
        }
    }
    .info {
        padding: 20px;

        .titulo {
            font-family: "Lato";
            font-size: 42px;
            color: $fondo_azul;
            @include media(sm) {
                font-size: 32px;
            }
        }
        .desc {
            font-family: "Open Sans";
            font-size: 14px;
            color: white;
            line-height: 2;
            color: $text-color-dark;
        }
        .by {
            color: #000;
            @include media(sm) {
                margin-bottom: 16px;
            }
        }
        .acciones {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            @include media(sm) {
                flex-direction: column;
            }
            .precio {
                color: #596988;
                margin: 0;
                @include media(sm) {
                    text-align: center;
                    margin: 1rem 0;
                }
            }
            .botones {
                @include media(sm) {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}

.boton {
    background: $primary;
    color: white;
    padding: 10px 45px;
    font-family: "Roboto";
    font-size: 14px;
    border: none;
    border-radius: 23px;
    &:hover {
        cursor: pointer;
    }
}
