$fondo: #e1e2e4;
$text-color-white: #fff;

$secondary: #3acace;
$primary: #3586e6;
$yellow: #fda403;
$orange: #ff570c;
$ligth_green: #3dd196;
$green: #78a125;

$fondo_azul: #00204a;

$text-color-dark: #0a0a07;
.algo{
    opacity: 0.2;
    
}