//sass --watch css/scss/main.scss:./css/main.css

@import "_variables";
@import "header";
@import "categoria";
@import "_best-sellers";
@import "_footer";
@import "_slider";
@import "_pagina";

@import "_media";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    a {
        text-align: center;
    }
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    @include media(sm) {
        width: 100%;
    }
}

.boton {
    background: $primary;
    width: 150px;
    color: white;
    padding: 10px 15px;
    font-family: "Roboto";
    font-size: 14px;
    border: none;
    border-radius: 23px;
    margin: 5px;
    &:hover {
        cursor: pointer;
    }
    &.primary {
        background: $primary;
    }
    &.secondary {
        background: $secondary;
    }
    &.yellow {
        background: $yellow;
    }
    &.orange {
        background: $orange;
    }
    &.ligth_green {
        background: $ligth_green;
    }
    &.green {
        background: $green;
    }
    &.gris {
        background: #4c5a8b;
    }
}
